body{
    background-color: black;
    /* overflow: hidden; */
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

html body {
    background-color: rgba(0,0,0,1.00);
}

#dotFlex{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    margin: 0vh 5vw 4vh 5vw;
    width: 90vw;
}

#topBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 1vh;
}

.flexContainerCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.flexContainerRow{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.warningPage{
    height: 5vh;
    color: white;
    text-align: center;
}

#warningPage{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.button {
    height: 5vh;
    width: 6vw;
    color: white;
    font-size: 100%;
    background-color: transparent;
    border-radius: 2vh;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(255, 0, 0);
    transition: 1s;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.button:hover {
    border-color: blueviolet;
}

.textInput{
    margin: 1vh;
    color: white;
    font-size: 2vh;
    width: 6vw;
    border-radius: 1vh;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
}

#title-1{
    margin: 2vh;
}

.title{
    color: white;
    font-size: 5vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0%;
}

.weekDotFull{
    width: 1.2vh;
    height: 1.2vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(255, 255, 255);
}

.weekDotDeath{
    width: 1.2vh;
    height: 1.2vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(255, 0, 0);
}

.weekDotYear {
    width: 1.2vh;
    height: 1.2vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(102, 102, 102);
}

.weekDot{
    width: 1.2vh;
    height: 1.2vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(61, 61, 61);
    border-color: white;
}

.week_dot_large{
    width: 20vh;
    height: 20vh;
    border-radius: 20vh;
    background-color: rgb(63, 63, 63);
    border-color: white;
    opacity: 0.5;
}