body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    scrollbar-base-color: blue;
}
/* html body {
    background-color: rgba(0,0,0,1.00);
}

#dotFlex{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    margin: 0vh 5vw 5vh 5vw;
    width: 90vw;
    /* display: none; */

/* canvas{
    height: 100vh;
    width: 100wv;
} */
/* 
#top-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexContainerCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.flexContainerRow{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.button {
    height: 5vh;
    width: 6vw;
    color: white;
    font-size: 100%;
    background-color: transparent;
    border-radius: 2vh;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(255, 0, 0);
    transition: 1s;
}

.button:hover {
    border-color: blueviolet;
}

.textInput{
    margin: 1vh;
    color: white;
    font-size: 2vh;
    width: 6vw;
    border-radius: 1vh;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
}

.title{
    color: white;
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.weekDotFull{
    width: 1.1vh;
    height: 1.1vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(255, 255, 255);
}

.weekDotDeath{
    width: 1.1vh;
    height: 1.1vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(255, 0, 0);
}

.weekDotYear {
    width: 1.1vh;
    height: 1.1vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    background-color: rgb(102, 102, 102);
}

.weekDot{
    width: 1.1vh;
    height: 1.1vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    border-radius: 1.4vh;
    /* border: solid;
    border-width: 2px; */
    /* background-color: rgb(61, 61, 61);
    border-color: white;
}

.week_dot_large{
    width: 20vh;
    height: 20vh;
    border-radius: 20vh;
    background-color: rgb(63, 63, 63);
    border-color: white;
    opacity: 0.5;
} */